:8082 {
    reverse_proxy localhost:8081
}

:8083 {
    @staticpaths {
        path /
        path /_static*
        path /favicon.ico
    }

    handle @staticpaths {
        root ./etydFrontend
        file_server
    }

    handle /* {
        rewrite * /etyd{uri}
        reverse_proxy localhost:8081
    }
}