body {
    font-family: Arial, Helvetica, sans-serif;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.marginright1em {
    margin-right: 1em;
}

.resultfeed {
    height: 100%;
}

@media (max-width: 700px) {
    .resultfeed {
        min-height: 20vh;
    }
}