body {
    font-family: Arial, Helvetica, sans-serif;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.marginright1em {
    margin-right: 1em;
}

.marginbottom1em {
    margin-bottom: 1em;
}

.resultfeed {
    height: 100%;
}

@media (max-width: 700px) {
    .resultfeed {
        min-height: 20vh;
    }
}

@media (prefers-color-scheme: dark) { /* Dark mode support */
    body {
        background-color: black;
        color: white;
    }

    input, select, textarea, button {
        background: none;
        color: white;
        border: 1px solid white;
        padding: 1px 2px;
    }

    input:disabled, button:disabled {
        opacity: 0.8;
        cursor: not-allowed;
    }
}