<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
    <style>
        html {
            height: 75%;
        }

        body {
            margin: 0;
            display: grid;
            place-items: center;
            height: 100%;
            color: #fff;
            background-color: #0b0b0b;
        }

        body > div {
            margin-left: 2em;
            margin-right: 2em;
        }

        a, a:hover {
            color: #fff;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div>
        <img src="/static/construction.svg" alt="Construction Icon" width="64">
        <h1>Under Construction</h1>
        <p>
            This page is undergoing a revamp and will be available again soon.<br>
            All API endpoints are still available. Documentation is available <a href="/posts/20240409-API-Documentation.html">here</a>.
        </p>
    </div>
</body>
</html>