html {
    background-color: #0f0f0f;
    background-image: url('/dynamic/background/main');
    background-size: cover;
    background-position-y: 50%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Segoe UI Variable Text', sans-serif;
    height: 100%;

    

    display: grid;
    place-items: center;

    backdrop-filter: blur(10px);
    
    color: #fff;
    
}

.mainContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5em;

    padding: 2em;
    background-color: #0f0f0f;
    box-shadow: 0 0 1em 0 #0f0f0f;
    

    position: relative;
    margin-top: 96px;
}

.mainContent > div > h1, h2 {
    margin: 0 0 0.5em;
}

.linkColumn {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#nowplaying {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}

#nowplaying > img {
    height: 10em;
}

#nowplaying > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2em;
}

#nowplaying .nowPlayingLine2 {
    font-size: 1.25em;
}

.apiVersion {
    margin: 0.8em 0 0.8em;
}

.marginBottom1em {
    margin: 0 0 1em;
}

.blogPostsList > ul {
    list-style-image: url('/dynamic/icon/post/7CB342');
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

.blogPostsList > ul > li {
    margin: 0.5em 0 0;
    font-family: Consolas, monospace;
}

.blogPostsList > ul > li > a {
    font-family: 'Segoe UI Variable', sans-serif;
}

a, a:link {
    color: #7CB342;
}

a:hover {
    color: #9CCC65;
}

a > img {
    margin-right: 0.2em;
}

#miauMiau {
    position: absolute;
    top: -90px;
    right: 9%;
}